

body {

padding: 50px;
padding-bottom: 500px;
background-color: #69dfdc ;
}

h1 {
  color:black;
}

h2 {
  color: black;
}

h2{
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 10px;
}
